@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.encabezado-img {
    background-image: url(imagenes/Alto-Hospicio.jpg);
    height: 499px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.col-8 {
 background-color: #455A64;
}

p.encabezado-p{
 
    column-gap: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-family: "Baskerville", serif;
    font-size: 36px;
    font-weight: bold;
    
}
.encabezado-1{
    text-align: center;
    
}


